*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

@mixin flex ($ff, $jc, $ai) {
    display: flex;
    flex-flow: $ff;
    justify-content: $jc;
    align-items: $ai;
}

@mixin grid ($gtr, $gtc, $gg) {
    display: grid;
    grid-template-rows: $gtr;
    grid-template-columns: $gtc;
    grid-gap: $gg;
}

div.content
{
    @include grid(1fr, 1fr 8fr, 0px);
}

div.contentWrapper
{
    background-color: #D6D6D6;

    padding: 10px;

    display: flex;
    // @include flex(row wrap, flex-start, flex-start);
}