@import "./../../Mixins.scss";

div.container
{
    background-color: #d2deec;

    padding: 25px 35px;

    @include flex(column nowrap, flex-start, flex-start);

    width: 100%;
}

@media screen and (max-width: 768px)
{
    div.container
    {
        padding: 25px 15px;
    }
}