@import "./../../../../../Mixins.scss";

div.descWrapper
{
    @include flex(column nowrap, flex-start, center);

    margin-top: 15px;
    width: inherit;
}

p.descName
{
    text-transform: uppercase;
    text-align: center;
    color: #8B8B8B;
}

p.descValue
{
    background-color: #c4c4c4;
    padding: 5px;
    width: inherit;
    text-align: center;
}

p.descName, p.descValue
{
    font-family: 'Roboto', sans-serif;
}