*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

@mixin flex ($ff, $jc, $ai) {
    display: flex;
    flex-flow: $ff;
    justify-content: $jc;
    align-items: $ai;
}

@mixin grid ($gtr, $gtc, $gg) {
    display: grid;
    grid-template-rows: $gtr;
    grid-template-columns: $gtc;
    grid-gap: $gg;
}

nav.nav {
    @include flex(column nowrap, flex-start, flex-start);
    background-color: #373737;

    height: 100%;

    a.menuItem {
        display: block;
        background-color: #6B6B6B;
        padding: 10px;

        margin-top: 10px;
        width: 100%;

        text-align: center;

        color: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;

        transition: all .3s;
    }

    a.menuItem:last-of-type{
        padding: 20px;
        text-transform: uppercase;

        margin-top: auto;
    }

    a.menuItemActive{
        background-color: #23A3FF;
    }
}